In [1]:
# !pip install google-cloud-bigquery

In [1]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/Jordi/git/IronHack/Ironhack Data Analytics.json"

In [2]:
from google.cloud import bigquery
client = bigquery.Client()

In [3]:
def select(query):
    query_job = client.query(query)
    df=query_job.to_dataframe()
    return df

# Challenge 1

In [10]:
query = '''
WITH royalties AS (
    SELECT 
        authors.au_id AS AUTHOR_ID,
        titles.title AS TITLE,
        titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100 AS ROYALTY
    FROM 
        `ironhack-data-analytics.publications.authors` authors
    JOIN
        `ironhack-data-analytics.publications.titleauthor` titleauthor
        ON authors.au_id = titleauthor.au_id
    JOIN
        `ironhack-data-analytics.publications.titles` titles
        ON titleauthor.title_id = titles.title_id
    JOIN
        `ironhack-data-analytics.publications.sales` sales
        ON sales.title_id = titles.title_id
    ),
  agr_roy AS(
    SELECT
        AUTHOR_ID,
        TITLE,
        SUM(ROYALTY) as ROYALTIES
    FROM
      royalties
    GROUP BY 
      1,2
    )
    SELECT 
      AUTHOR_ID, 
      SUM(ROYALTIES) AS PROFIT
    FROM 
      agr_roy
    GROUP BY 
      1
    ORDER BY 
      PROFIT DESC
    LIMIT 3
    '''
df = select(query)
df.head(10)

     AUTHOR_ID   PROFIT
0  238-95-7766  110.160
1  998-72-3567   88.456
2  807-91-6654   83.800

# Challenge 2

In [11]:
query = '''
    CREATE TABLE  `ironhack-data-analytics.publications.most_profiting_authors_j` AS (

WITH royalties AS (
    SELECT 
        authors.au_id AS AUTHOR_ID,
        titles.title AS TITLE,
        titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100 AS ROYALTY
    FROM 
        `ironhack-data-analytics.publications.authors` authors
    JOIN
        `ironhack-data-analytics.publications.titleauthor` titleauthor
        ON authors.au_id = titleauthor.au_id
    JOIN
        `ironhack-data-analytics.publications.titles` titles
        ON titleauthor.title_id = titles.title_id
    JOIN
        `ironhack-data-analytics.publications.sales` sales
        ON sales.title_id = titles.title_id
    ),
  agr_roy AS(
    SELECT
        AUTHOR_ID,
        TITLE,
        SUM(ROYALTY) as ROYALTIES
    FROM
      royalties
    GROUP BY 
      1,2
    )
    SELECT 
      AUTHOR_ID AS au_id, 
      SUM(ROYALTIES) AS profits
    
    FROM 
      agr_roy
    GROUP BY 
      1
    ORDER BY 
      profits DESC
    )
    
    '''
df = select(query)
df.head(10)

Empty DataFrame
Columns: []
Index: []

# Nota:

#### Fixeu-vos que la taula s'ha creat amb el nom  `ironhack-data-analytics.publications.most_profiting_authors_j`

In [12]:
query = '''
    SELECT
        *
    FROM
        `ironhack-data-analytics.publications.most_profiting_authors_j`
    
    '''
df = select(query)
df.head(10)

         au_id  profits
0  238-95-7766  110.160
1  998-72-3567   88.456
2  807-91-6654   83.800
3  899-46-2035   78.132
4  846-92-7186   50.000
5  427-17-2319   50.000
6  213-46-8915   37.110
7  648-92-1872   33.460
8  756-30-7391   32.385
9  274-80-9391   29.985